.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.hero .btn {
  background: rgba(255,255,255,0.2);
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}

._0000{

}
